/*@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);
@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);*/
.container-fluid {
  padding: 0px;
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed #006196;
}
a:hover {
  color: #6699cc;
  border-bottom: 0;
}
a:visited {
  color: #96bbcc;
  border-bottom: 1px dashed #96bbcc;
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: white;
  border: 1px solid #c0c0c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875em;
  height: 2.3125em;
  margin: 0 0 1em;
  padding: 0.5em;
  transition: all 0.15s linear 0s;
  width: 100%;
}
button {
  background-color: #c0c0c0;
  border: 1px solid transparent;
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  min-height: 32px;
  min-width: 75px;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
  width: auto;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-style: bold;
  font-size: 24pt;
  color: #006196;
}
h2 {
  font-size: 24pt;
  color: #006196;
}
body {
  background-color: #cccccc;
}
#app_main {
  height: 100%;
}
#app_left {
  width: 17.021259999999998%;
}
#content {
  background-color: white;
  height: 100%;
  -webkit-box-shadow: 0 0 2px;
  -moz-box-shadow: 0 0 2px;
  box-shadow: 0 0 2px;
  margin-left: 0px;
}
.menu_elem {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #006196;
  border-bottom: 1px solid #999999;
}
.menu_elem:hover {
  background-color: #999999;
}
#user_info {
  padding: 15px 0 10px 10px;
  height: 80px;
  -webkit-box-shadow: inset 1px -1px 3px #999999;
  -moz-box-shadow: inset 1px -1px 3px #999999;
  box-shadow: inset 1px -1px 3px #999999;
  background-color: #c1c1c1;
  width: 100%;
}
#user_info_left {
  height: 80px;
  width: 64px;
  margin-right: 10px;
}
#user_info_points {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}
#user_info_right {
  font-size: 80%;
}
#user_info_left,
#user_info_right {
  float: left;
}
#user_info_edit_profile {
  margin-top: 4px;
  font-size: 8px;
  color: #999999;
}
#user_info_name {
  color: #006196;
}
#content_title {
  height: 79px;
  min-height: 79px;
  padding: 15px 0 10px 20px;
  border-bottom: 1px solid #999999;
}
#content_services {
  padding: 2%;
}
.service_tile {
  width: 31%;
  /*border: 1px solid black;*/

  margin-right: 2%;
  margin-bottom: 2%;
  float: left;
}
.service_tile_flag {
  float: left;
  margin-right: 10px;
}
.service_tile_flag .service_tile_canvas {
  width: 100px;
  height: 100px;
  background: #c00;
}
.service_tile_flag .service_tile_flag_bottom {
  content: "";
  margin-top: -25px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid white;
}
.service_tile_name,
.service_tile_points,
.service_tile_holder,
.service_tile_earnings {
  height: 25px;
}
