@import "main.less";

body {
  background-color: @background-color;
}

#app_main {
  height: 100%;
}

#app_left {
  width: 14.8936% + 2.12766%;
}

#content {
  background-color: white;
  height: 100%;
  .box-shadow(0 0 2px);
  margin-left: 0px;
}

#menu {
  
}

.menu_elem {
  margin-top: 10px;
  padding-bottom: 10px;
  color: @main-color;
  border-bottom: 1px solid @tip-color;
}

#user_info {
  padding: 15px 0 10px 10px;
  height: 80px;
  .box-shadow(inset 1px -1px 3px @tip-color);
  background-color: #c1c1c1;
  width: 100%;
}

#user_info_left {
  height: 80px;
  width: 64px;
  margin-right: 10px;
}

#user_info_points {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

#user_info_right {
  font-size: 12px;
}

#user_info_left, #user_info_right {
  float: left;
}

#user_info_edit_profile {
  margin-top: 4px;
  font-size: 8px;
  color: @tip-color;
}

#user_info_name {
  color: @main-color;
}