/*@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);*/
/*@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);*/
.container-fluid {
  padding: 0px;
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed #006196;
}
a:hover {
  color: #6699cc;
  border-bottom: 0;
}
a:visited {
  color: #96bbcc;
  border-bottom: 1px dashed #96bbcc;
}
input[type="text"],
input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: white;
  border: 1px solid #c0c0c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875em;
  height: 2.3125em;
  margin: 0 0 1em;
  padding: 0.5em;
  transition: all 0.15s linear 0s;
  width: 100%;
}
input[type="checkbox"] {
  margin-left: 2px;
  margin-right: 6px;
}
button,
input[type="submit"] {
  background-color: #c0c0c0;
  border: 1px solid transparent;
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  min-height: 32px;
  min-width: 75px;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
  width: auto;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-style: bold;
  font-size: 24pt;
  color: #006196;
  display: inline-block;
}
h2 {
  font-size: 24pt;
  color: #006196;
  display: inline-block;
}
body {
  /*background-color: @background-color;*/

  background-image: url('../img/bg.png');
}
#app_main {
  height: 100%;
}
#app_left {
  width: 17.021259999999998%;
  min-width: 17.021259999999998%;
  position: fixed;
  overflow: hidden;
  margin-left: 6.38297%;
}
#content {
  background-color: white;
  min-height: 100%;
  -webkit-box-shadow: 0 0 2px;
  -moz-box-shadow: 0 0 2px;
  box-shadow: 0 0 2px;
  margin-left: 0px;
}
.menu_elem {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #006196;
  border-bottom: 1px solid #999999;
  cursor: pointer;
}
.menu_elem img {
  width: 32px;
  height: 32px;
  fill: red;
  margin-right: 30px;
  margin-left: 15px;
}
#menu_exit {
  color: #999;
}
#menu_exit #menu_exit_icon {
  height: 13px;
}
.menu_elem:hover {
  background-color: #dddddd;
}
.menu_footer {
  margin-left: 6.38297%;
  width: 17.021259999999998%;
  font-size: 10px;
  margin-bottom: 10px;
  color: #999999;
}
.menu_footer a {
  color: #999999;
  border-bottom: 1px dashed #999999;
}
.menu_footer_block {
  margin-right: 8px;
}
#menu_logo {
  width: 14%;
  margin-right: 1.5%;
  margin-left: 7.88297%;
  margin-bottom: 20px;
}
#user_info {
  cursor: pointer;
  padding: 15px 0 10px 0;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #999999;
}
#user_info #user_info_left {
  height: 80px;
  width: 25%;
  margin-right: 10px;
}
#user_info #user_info_points {
  margin-top: 4px;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  color: #ff9000;
}
#user_info #user_info_points #user_info_points_star {
  height: 12px;
  width: 12px;
  margin-bottom: 4px;
  margin-right: 2px;
}
#user_info #user_info_right {
  font-size: 0.875em;
}
#user_info #user_info_left,
#user_info #user_info_right {
  float: left;
}
#user_info #user_info_edit_profile {
  margin-top: 4px;
  font-size: 8px;
  color: #999999;
}
#user_info #user_info_name {
  color: #006196;
}
#user_info:hover {
  background-color: #dddddd;
}
#content_title {
  height: 80px;
  min-height: 80px;
  padding: 15px 0 10px 20px;
  border-bottom: 1px solid #999999;
}
#content_services,
#content_achievements,
#content_friendslist,
#content_edit_profile,
#content_feed,
#content_top,
#content_messages_list {
  overflow: hidden;
  padding: 2%;
  position: relative;
}
.service_icon_service,
.service_icon_achievements {
  height: 48px;
  width: 48px;
}
.service_icon_service {
  margin-top: 15px;
  margin-left: 25px;
}
.service_icon_service_sub {
  height: 32px;
  width: 32px;
  margin-top: 10px;
  margin-left: 25px;
}
.service_icon_achievements {
  margin-top: 25px;
  margin-left: 20px;
}
.service_tile {
  position: relative;
  width: 31%;
  cursor: pointer;
  margin-right: 2%;
  margin-bottom: 2%;
  float: left;
}
.service_tile .service_tile_flag {
  float: left;
  margin-right: 10px;
}
.service_tile .service_tile_flag .service_tile_canvas {
  width: 100px;
  height: 100px;
  background: #c00;
}
.service_tile .service_tile_flag .service_tile_flag_bottom {
  content: "";
  margin-top: -25px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid white;
}
.service_tile .service_tile_name,
.service_tile .service_tile_points,
.service_tile .service_tile_holder,
.service_tile .service_tile_earnings {
  height: 25px;
}
.service_tile .service_tile_name,
.service_tile .service_tile_earnings {
  color: #006196;
}
.service_tile .service_tile_points,
.service_tile .service_tile_earnings {
  font-size: 11pt;
}
.service_tile .service_tile_points {
  color: #ff9000;
  font-weight: bold;
}
.service_tile .service_tile_points .service_tile_points_star {
  width: 11pt;
  height: 11pt;
  margin-bottom: 4px;
  margin-right: 2px;
}
.service_tile_sub {
  cursor: pointer;
  margin-right: 2%;
  margin-bottom: 2%;
}
.service_tile_sub .service_tile_flag_sub {
  float: left;
  margin-right: 10px;
}
.service_tile_sub .service_tile_flag_sub .service_tile_canvas_sub {
  width: 80px;
  height: 80px;
  background: #c00;
}
.service_tile_sub .service_tile_flag_sub .service_tile_flag_bottom_sub {
  content: "";
  margin-top: -20px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 20px solid white;
}
.service_tile_sub .service_tile_name_sub {
  font-size: 30px;
  height: 40px;
}
.service_tile_sub .service_tile_points_sub,
.service_tile_sub .service_tile_holder_sub,
.service_tile_sub .service_tile_earnings_sub {
  height: 20px;
}
.service_tile_sub .service_tile_name_sub,
.service_tile_sub .service_tile_earnings_sub {
  color: #006196;
}
.service_tile_sub .service_tile_points_sub,
.service_tile_sub .service_tile_earnings_sub {
  font-size: 11pt;
  float: left;
  margin-right: 10px;
}
.service_tile_sub .service_tile_points_sub {
  background-color: #ff9000;
  color: white;
  font-weight: bold;
  padding: 0 7px 0 7px;
}
.service_tile_sub .service_tile_points_sub .service_tile_points_star_sub {
  width: 11pt;
  height: 11pt;
  margin-bottom: 4px;
  margin-right: 2px;
}
.service_tile:hover {
  opacity: 0.8;
}
.achievements_tile {
  border: 3px solid #c00;
  -webkit-box-shadow: 0 0 1px;
  -moz-box-shadow: 0 0 1px;
  box-shadow: 0 0 1px;
  overflow: hidden;
  margin-bottom: 2%;
  height: 100px;
  max-width: 575px;
}
.achievements_tile .achievements_tile_flag {
  float: left;
  background-color: #c00;
  height: 100px;
  width: 75px;
}
.achievements_tile .achievements_tile_flag_right {
  float: left;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 25px solid #c00;
}
.achievements_tile .achievements_tile_name {
  float: left;
  padding-top: 36px;
  padding-left: 10px;
  font-size: 20px;
}
.achievements_tile .achievements_tile_right {
  float: right;
  width: 100px;
}
.achievements_tile .achievements_tile_points {
  height: 50px;
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  color: #ff9000;
}
.achievements_tile .achievements_tile_date,
.achievements_tile .achievements_tile_sharing {
  height: 25px;
  text-align: center;
  font-size: 11pt;
}
.achievements_tile:hover {
  -webkit-box-shadow: 0 0 0;
  -moz-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
.friendslist_tile {
  float: left;
  display: block;
  width: 180px;
  height: 180px;
  margin-right: 2%;
  margin-bottom: 2%;
  position: relative;
}
.friendslist_tile .friendslist_name {
  font-size: 14px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  padding: 5px;
  opacity: 0.8;
}
.friendslist_tile .friendslist_points {
  font-size: 14px;
  background-color: #ff9000;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  opacity: 0.8;
}
.friendslist_tile .friendslist_points .friendslist_points_star {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
  margin-right: 2px;
}
#title_menu {
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 15px;
}
#title_menu .title_menu_elem {
  cursor: pointer;
  color: #006196;
  float: left;
  margin-right: 14px;
  font-size: 0.8em;
  padding: 6px;
}
#title_menu .title_menu_elem.choosed {
  background-color: #006196;
  color: white;
}
#edit_profile_change_params {
  overflow: hidden;
  width: 70%;
  position: relative;
  float: left;
  /*#edit_profile_change_params_userbar {
    margin-top: 15px;
    font-size: 0.8em;
    color: @tip-color;
    padding-bottom: 1px;
  }*/

}
#edit_profile_change_params #edit_profile_change_params_password,
#edit_profile_change_params #edit_profile_change_params_password_again {
  width: 48%;
  float: left;
}
#edit_profile_change_params #edit_profile_change_params_password_again {
  margin-left: 4%;
}
#edit_profile_change_params .edit_profile_change_params_subs {
  font-size: 0.875em;
}
#edit_profile_change_params #edit_profile_change_params_save_button {
  margin-top: 30px;
  background-color: #006196;
  color: #cccccc;
}
#edit_profile_avatar {
  width: 180px;
  height: 180px;
  position: relative;
  float: right;
}
#edit_profile_avatar #edit_profile_avatar_change_button {
  font-size: 14px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  padding: 5px;
  opacity: 0.8;
}
.news_tile,
.top_tile,
.messages_list_tile {
  width: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
  border-bottom: 1px solid #999999;
  position: relative;
  overflow: hidden;
}
.news_tile .news_tile_avatar,
.top_tile .news_tile_avatar,
.messages_list_tile .news_tile_avatar,
.news_tile .top_tile_avatar,
.top_tile .top_tile_avatar,
.messages_list_tile .top_tile_avatar,
.news_tile .messages_list_tile_avatar,
.top_tile .messages_list_tile_avatar,
.messages_list_tile .messages_list_tile_avatar {
  position: relative;
  float: left;
  width: 100px;
  margin-right: 1.5%;
}
.news_tile .news_tile_name,
.top_tile .news_tile_name,
.messages_list_tile .news_tile_name,
.news_tile .top_tile_name,
.top_tile .top_tile_name,
.messages_list_tile .top_tile_name,
.news_tile .messages_list_tile_name,
.top_tile .messages_list_tile_name,
.messages_list_tile .messages_list_tile_name {
  color: #006196;
  font-size: 1.1em;
  position: relative;
  float: none;
  margin-bottom: 10px;
}
.news_tile .news_tile_article,
.top_tile .news_tile_article,
.messages_list_tile .news_tile_article,
.news_tile .messages_list_tile_message,
.top_tile .messages_list_tile_message,
.messages_list_tile .messages_list_tile_message {
  font-size: 0.8em;
  margin-bottom: 5px;
  position: relative;
}
.news_tile .news_tile_time,
.top_tile .news_tile_time,
.messages_list_tile .news_tile_time,
.news_tile .messages_list_tile_time,
.top_tile .messages_list_tile_time,
.messages_list_tile .messages_list_tile_time {
  float: right;
  color: #999999;
  font-size: 0.7em;
}
.news_tile .top_tile_points,
.top_tile .top_tile_points,
.messages_list_tile .top_tile_points {
  position: relative;
  background-color: #ff9000;
  color: white;
  padding: 5px;
  font-weight: bold;
  float: left;
  margin-top: 31px;
}
.news_tile .top_tile_points .top_tile_points_star,
.top_tile .top_tile_points .top_tile_points_star,
.messages_list_tile .top_tile_points .top_tile_points_star {
  width: 18px;
  height: 18px;
  margin-bottom: 4px;
  margin-right: 2px;
}
.news_tile .top_tile_position,
.top_tile .top_tile_position,
.messages_list_tile .top_tile_position {
  position: relative;
  padding: 5px 12px 5px 12px;
  background-color: #006196;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 30px;
  margin-top: 19px;
}
