/*@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);*/
/*@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);*/
.container-fluid {
  padding: 0px;
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed #006196;
}
a:hover {
  color: #6699cc;
  border-bottom: 0;
}
a:visited {
  color: #96bbcc;
  border-bottom: 1px dashed #96bbcc;
}
input[type="text"],
input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: white;
  border: 1px solid #c0c0c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875em;
  height: 2.3125em;
  margin: 0 0 1em;
  padding: 0.5em;
  transition: all 0.15s linear 0s;
  width: 100%;
}
input[type="checkbox"] {
  margin-left: 2px;
  margin-right: 6px;
}
button,
input[type="submit"] {
  background-color: #c0c0c0;
  border: 1px solid transparent;
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  min-height: 32px;
  min-width: 75px;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
  width: auto;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-style: bold;
  font-size: 24pt;
  color: #006196;
  display: inline-block;
}
h2 {
  font-size: 24pt;
  color: #006196;
  display: inline-block;
}
#footer_content {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
  color: #999999;
}
#footer_content a {
  color: #999999;
  border-bottom: 1px dashed #999999;
}
input {
  display: inline !important;
}
.footer_content_block {
  margin-right: 10px;
}
#login_main {
  background-color: #cccccc;
}
#login_app {
  padding-top: 40px;
}
#login_logo {
  background-color: white;
  -webkit-box-shadow: 0 0 2px;
  -moz-box-shadow: 0 0 2px;
  box-shadow: 0 0 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#login_block_left {
  padding-left: 40px;
}
#login_block_right {
  padding-right: 40px;
  padding-left: 20px;
  color: #006196;
}
.chooser {
  text-align: center;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}
#login_chooser,
#reg_chooser {
  color: #999999;
  border-bottom: 3px solid #999999;
}
#login_chooser:hover,
#reg_chooser:hover {
  text-shadow: 0px 0px 1px;
}
.chooser_selected {
  color: #006196 !important;
  border-bottom: 3px solid #006196 !important;
}
#login_button_login {
  background-color: #006196;
  color: #cccccc;
}
#login_button_reg {
  background-color: #006196;
  color: #cccccc;
}
#login_recover_link {
  font-size: 11px;
}
#login_recover_link a {
  color: #006196;
  border-bottom: 1px dashed #006196;
}
