@import "main.less";

#footer_content {
  font-size: 10px;
  text-align: center;
  margin-bottom: 10px;
  color: @tip-color;

  a {
    color: @tip-color;
    border-bottom: 1px dashed @tip-color;
  }
}

input {
  display: inline !important;
}

.footer_content_block {
  margin-right: 10px;
}

#login_main {
  background-color: @background-color;
}

#login_app {
  padding-top: 40px;
}

#login_logo {
  background-color: white;
  .box-shadow(0 0 2px);
  padding-top: 20px;
  padding-bottom: 20px;
}

#login_block_left {
  padding-left: 40px;
}

#login_block_right {
  padding-right: 40px;
  padding-left: 20px;
  color: @main-color;
}

.chooser {
  text-align: center;
  width: 50%;
  float: left;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
}

#login_chooser, #reg_chooser {
  color: @tip-color;
  border-bottom: 3px solid @tip-color;
}

#login_chooser:hover, #reg_chooser:hover {
  text-shadow: 0px 0px 1px;
}

.chooser_selected {
  color: @main-color !important;
  border-bottom: 3px solid @main-color !important;
}

#login_button_login {
  background-color: @main-color;
  color: @background-color;
}

#login_button_reg {
  background-color: @main-color;
  color: @background-color;
}

#login_recover_link {
  font-size: 11px;

  a {
    color: @main-color;
    border-bottom: 1px dashed @main-color;
  }
}