/*@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext);*/
/*@import url(http://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);*/
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic-ext,cyrillic);*/
.container-fluid {
  padding: 0px;
  height: 100%;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14pt;
}
a {
  text-decoration: none;
  border-bottom: 1px dashed #006196;
}
a:hover {
  color: #6699cc;
  border-bottom: 0;
}
a:visited {
  color: #96bbcc;
  border-bottom: 1px dashed #96bbcc;
}
input[type="text"],
input[type="password"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: white;
  border: 1px solid #c0c0c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-family: inherit;
  font-size: 0.875em;
  height: 2.3125em;
  margin: 0 0 1em;
  padding: 0.5em;
  transition: all 0.15s linear 0s;
  width: 100%;
}
input[type="checkbox"] {
  margin-left: 2px;
  margin-right: 6px;
}
button,
input[type="submit"] {
  background-color: #c0c0c0;
  border: 1px solid transparent;
  color: #353535;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  min-height: 32px;
  min-width: 75px;
  padding: 4px 12px;
  text-align: center;
  vertical-align: middle !important;
  width: auto;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-style: bold;
  font-size: 24pt;
  color: #006196;
  display: inline-block;
}
h2 {
  font-size: 24pt;
  color: #006196;
  display: inline-block;
}
