<div id="content_title">
  <h1 ng-hide="headerStatus() == true">Сводка</h1>
  
  <div class="service_tile_sub" ng-show="headerStatus() == true">
    <div class="service_tile_flag_sub">
      <img src="{{info.photo}}" width="80px">
    </div>
    <div class="service_tile_name_sub">{{info.name}}</div>
    <div class="service_tile_holder_sub"></div>
    <div class="service_tile_points_sub"><img src="images/white_star.svg" class="service_tile_points_star_sub">{{info.points}}</div>
    <div class="service_tile_friendship_status_false" ng-hide="info.friendship() == true" ng-click="addFriend()">Добавить в друзья</div>
    <div class="service_tile_friendship_status_true" ng-show="info.friendship() == true" ng-click="removeFriend()">{{info.friendship_true_message}}</div>
    
  </div>
</div>

<div id="content_error_shortname" ng-show="latest.error">{{error_text}}</div>
<div class="dashboard_sorting">
  <span class="dashboard_sorting_elem {{dashboard_sorting_elem_list}}" ng-click="show_as_list()">Список</span>
  <span class="dashboard_sorting_elem {{dashboard_sorting_elem_icon}}" ng-click="show_as_icons()">Значки</span>
</div>

<div id="content_services_list" ng-hide="latest.error || !sort_handler">
  <div class="services_list_row" ng-repeat="service in services">
    
    <a href="{{service.link}}">
      
      <div class="services_list_row_complite_bar" style="width: {{service.percent - 4}}%"></div>
      <div class="services_list_row_square" style="background: {{service.color}}">
        <img class="services_list_row_icon" src="{{service.icon}}">
      </div>
      
      <div class="services_list_row_name">{{service.name}}</div>
      <div class="services_list_row_connection" ng-hide="service.valid">(Подключить)</div>

      <div class="services_list_row_points"><img src="images/star.svg" class="services_list_row_points_star">{{service.earnedPoints}}</div>
      <div class="services_list_row_earnings">{{service.earned}}/{{service.full}}</div>
      <div class="services_list_row_percent">{{service.percent}}%</div>

    </a>

  </div>  
</div>

<div id="content_services" ng-hide="latest.error || sort_handler">

  <div class="service_tile service_tile_valid_{{service.valid}}" ng-repeat="service in services">
    
    <a href="{{service.link}}">
    
    <div class="service_tile_flag">
      <div class="service_tile_canvas" style="background: {{service.color}}">
        <div class="service_tile_connection"><img src="http://achivster.com/images/plus.svg"></div>
        <img src="{{service.icon}}" class="service_icon_service"></div>
      <div class="service_tile_flag_bottom"></div>
    </div>
    
    <div class="service_tile_name">{{service.name}}</div>
    <div class="service_tile_earnings">{{service.earned}}/{{service.full}}</div>
    <div class="service_tile_points"><img src="images/star.svg" class="service_tile_points_star">{{service.earnedPoints}}</div>
  </a>
  </div>


</div>

<div id="content_achievements" ng-hide="latest.error">
  
  <div class="achievements_tile" ng-repeat="achiv in latest" style="border: 3px solid {{achiv.color}}" ng-click="showAchievementDescription(achiv)">
    <div class="achievements_tile_flag" style="background: {{achiv.color}}"><img src="http://achivster.com{{achiv.icon}}" class="service_icon_achievements"></div>
    <div class="achievements_tile_flag_right" style="border-left: 25px solid {{achiv.color}}"></div>
    <div class="achievements_tile_name">{{achiv.name}}</div>
    <div class="achievements_tile_right">
      <div class="achievements_tile_placeholder"></div>
      <div class="achievements_tile_points">{{achiv.points}}</div>
      <div class="achievements_tile_date">{{achiv.time}}</div>
    </div>
  </div>

</div>

<achievement-description ng-show="showDescription" achiv-data="{{achiv}}"></achievement-description>