<div id="content_title">
  <h1>Сводка</h1>
</div>

<div id="content_services">

  <div class="service_tile service_tile_valid_{{service.valid}}" ng-repeat="service in services">
    <a href="#/dashboard/{{service.service}}">
    
    <div class="service_tile_flag">
      <div class="service_tile_canvas">
        <div class="service_tile_connection">Подключить</div>
        <img src="http://achivster.com{{service.icon}}" class="service_icon_service"></div>
      <div class="service_tile_flag_bottom"></div>
    </div>
    
    <div class="service_tile_name">{{service.service}}</div>
    <div class="service_tile_points"><img src="images/star.svg" class="service_tile_points_star">{{service.earnedPoints}}</div>
    <div class="service_tile_holder"></div>
    <div class="service_tile_earnings">{{service.earned}}/{{service.full}}</div>
  </a>
  </div>
        
</div>

<div id="content_achievements">
  
  <div class="achievements_tile" ng-repeat="achiv in latest">
    <div class="achievements_tile_flag"><img src="http://achivster.com{{achiv.icon}}" class="service_icon_achievements"></div>
    <div class="achievements_tile_flag_right"></div>
    <div class="achievements_tile_name">{{achiv.name}}</div>
    <div class="achievements_tile_right">
      <div class="achievements_tile_sharing"></div>
      <div class="achievements_tile_points">{{achiv.points}}</div>
      <div class="achievements_tile_date">{{achiv.time}}</div>
    </div>
  </div>

</div>