<div id="content_title">
  <h1>Друзья</h1>
  <div id="title_menu">
    
    <a href="#/friends/list">
      <div class="title_menu_elem {{second_menu_chooser_list}}">Мои друзья</div>
    </a>
    
    <a href="#/friends/find">
      <div class="title_menu_elem {{second_menu_chooser_find}}">Поиск</div>
    </a>
    
    <a href="#/friends/invite">
      <div class="title_menu_elem {{second_menu_chooser_invite}}">Пригласить</div>
    </a>
  
  </div>
</div>



<div id="content_friendslist">
 
 
  <div class="friendslist_tile" ng-repeat="friend in friends">
    <a href="/#/u/{{friend.shortname}}" style="opacity: {{friend.opacity}}">   
      <img src="http://achivster.com{{friend.photo}}" class="friendslist_tile_image">
      <div class="friendslist_points"><img src="images/white_star.svg" class="friendslist_points_star">{{friend.points}}</div>
      <div class="friendslist_name">{{friend.name}}</div>
    </a>
    <div class="friendslist_remove" title="{{friend.remove_message}}" ng-click="Friendship(friend, counter = counter + 1)"><img src="images/trash.svg" class="friendslist_remove_icon" ng-show="friend.display() == true"><img src="images/restore.svg" class="friendslist_remove_icon" ng-hide="friend.display() == true"></div>
  </div>
  
</div>