<div id="content_title">
  <h1>Сообщения</h1>
</div>

<div id="content_messages_list">
  
  <div class="messages_list_tile" ng-repeat="message in messages">
    <div class="messages_list_tile_avatar">
      <img src="http://achivster.com{{message.photo}}">
    </div>
    <div class="messages_list_tile_name">
      <a class="news_tile_name_link" href="/#/u/{{message.shortname}}">{{message.name}}</a>
    </div>
    <div class="messages_list_tile_message">
      {{message.data}}
    </div>
    <div class="messages_list_tile_action_message">{{message.action_message}}</div>
    <button class="messages_list_tile_action_button" ng-click="acceptFriendship(message)" ng-hide="message.hideButtons() == true">Подтвердить</button>
    <button class="messages_list_tile_action_button" ng-click="rejectFriendship(message)" ng-hide="message.hideButtons() == true">Отклонить</button>
    
    <div class="messages_list_tile_time">
      {{message.time}}
    </div>
  </div>

</div>