<div id="content_title">
  <h1>Профиль</h1>
</div>

<div id="content_edit_profile">
  
  <div id="edit_profile_change_params">
    <input type="text" placeholder="Имя" ng-model="profile.name" ng-change="checkName();">
    <div class="edit_profile_change_params_notes">Используйте символы латинского и русского алфавита, а так же знак пробела</div>
    <input type="text" placeholder="Псевдоним" ng-model="profile.shortname" ng-change="checkShortname();">
    <div class="edit_profile_change_params_notes">Используйте символы латинского алфавита и знаки _ -</div>
    <input type="text" id="edit_profile_change_params_password" placeholder="Новый пароль" ng-model="profile_pass" ng-change="checkPassword();">
    <input type="text" id="edit_profile_change_params_password_again" placeholder="Повторите новый пароль" ng-model="profile_pass_new" ng-change="checkPassword();">
    <div class="edit_profile_change_params_subs">
      <input type="checkbox" ng-model="profile.subscribes.news">Я хочу получать новости по почте
    </div>
    
    <div class="edit_profile_change_params_subs">
      <input type="checkbox" ng-model="profile.subscribes.week">Я хочу получать еженедельную рассылку
    </div>

    <div id="edit_profile_change_params_message">
      <div id="edit_profile_change_params_error_message">{{form_error_message}}</div>
      <div id="edit_profile_change_params_success_message">{{form_success_message}}</div>
    </div>

    <button id="edit_profile_change_params_save_button" ng-click="saveProfile();" ng-disabled="submitButtonDisabler();">Сохранить</button>

    <!--<div id="edit_profile_change_params_userbar">
      <img src="images/ub.png">
      <div><a href="">Скопировать код для вставки в буфер обмена</a></div>
    </div>-->
  </div>

  <div id="edit_profile_avatar">
    <form action="/webapi/profile/save/avatar" enctype="multipart/form-data" method="POST">
      <img src="http://achivster.com{{profile.photo}}" id="edit_profile_avatar_image">
      <div id="edit_profile_avatar_change_button">
        <div id="edit_profile_avatar_change_button_name">Изменить аватар</div>
        <input type="file" name="file" id="edit_profile_avatar_change_button_input" accept="image/*"/ onchange="angular.element(this).scope().addAvatar();">
      </div>
      <input type="submit" id="edit_profile_avatar_change_button_save" style="display: none;" value="Сохранить" />
    </form>
  </div>

</div>